<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head layout:fragment="header" xmlns:layout="http://www.springframework.org/schema/security" xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Timeline</title>
    <link rel="stylesheet" th:href="@{/css/app.css}" href="../static/css/app.css" />

    <script type="text/javascript" src="/webjars/jquery/2.2.3/jquery.min.js"></script>

</head>

<body>
<header>
    <div class="top-menu" id="menu-home"><a th:href="@{/}">Home</a></div>
    <div class="top-menu" id="menu-login" th:if="${#httpServletRequest.remoteUser} == null"><a th:href="@{/login}">Login</a></div>
    <div class="top-menu" th:if="${#httpServletRequest.remoteUser}" th:inline="text">[[${#httpServletRequest.remoteUser}]]</div>
    <div class="top-menu" id="menu-logout" th:if="${#httpServletRequest.remoteUser}"><a th:href="@{/logout}">Logout</a></div>

</header>
<!--<div th:text="${userId}">${userId}</div>-->
<!--<div th:text="${userName}">${userName}</div>-->
<!--<div th:text="${role}">${role}</div>-->


<div id="container">
    <div id="content">
        <div id="msg">메인 페이지 입니다.</div>
        <div id="timeline-text-box" th:if="${#httpServletRequest.remoteUser} and (${#httpServletRequest.remoteUser} == ${userName})">
            <textarea id="timeline-text" placeholder="글을 입력 하세요."></textarea>
            <button id="btn-posting">작성하기</button>
        </div>
        <div id="timeline-top"></div>
        <div id="timeline-bottom"></div>
    </div>
    <div id="side">
        <div id="follower">
            <div class="tit">팔로워 리스트</div>
            <div id="follower-list"></div>
        </div>
        <div id="users">
            <div class="tit">유저 리스트</div>
            <div id="users-list"></div>
        </div>
    </div>
    <div style="clear:both"></div>
</div>

<script th:inline="javascript" type="text/javascript">
    "use strict";

    /*
     * IE7 이하 버전에서 "'console'이(가) 정의되지 않았습니다." 에러 처리
     */
    var console = console || {
                log:function(){},
                warn:function(){},
                error:function(){}
            };

    if(!ctx) var ctx = {};
    ctx = /*[[@{/}]]*/ './';
    ctx = ctx.substr(0, ctx.length-1);

    var _userId = [[${userId}]];
    var _userName = [[${userName}]];
</script>

<script th:src="@{js/app.js}" src="../static/js/app.js"></script>


<script th:inline="javascript" type="text/javascript">
    "use strict";

    var timeline = new TimelineClass();
    var user = new UserClass();
    var follower = new FollowerClass();

    $(document).ready(function() {

        if(!_userName) {
            $('#msg').text('메인 페이지 입니다.');
        } else {
            var str = _userName + '의 타임라인 입니다.';
            str += '<div><button id="btn-following">팔로잉하기</button> <button id="btn-unfollowing">언팔로잉하기</button></div>';
            $('#msg').html(str);

            $('#btn-following').unbind('click');
            $('#btn-following').click(function() {
                follower.following(_userId);
            });

            $('#btn-unfollowing').unbind('click');
            $('#btn-unfollowing').click(function() {
                var data = follower.unFollowing(_userId);
                console.log(data);
            });
        }

        timeline.showTimeline(_userId);
        user.showUserListAll();
        follower.showFollowerList(_userId);

        $('#btn-posting').click(function() {
            timeline.posting($('#timeline-text').val());
        });
    });




</script>
</body>
</html>