<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head layout:fragment="header" xmlns:layout="http://www.springframework.org/schema/security" xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Timeline</title>
    <link rel="stylesheet" th:href="@{/css/app.css}" href="../static/css/app.css" />

    <script type="text/javascript" src="/webjars/jquery/2.2.3/jquery.min.js"></script>

</head>

<body>
<header>
    <div class="top-menu" id="menu-home"><a th:href="@{/}">Home</a></div>
    <div class="top-menu" id="menu-login"><a th:href="@{/login}">Login</a></div>
    <div class="top-menu" id="menu-logout"><a th:href="@{/logout}">Logout</a></div>
</header>
<!--<div th:text="${userId}">${userId}</div>-->
<!--<div th:text="${userName}">${userName}</div>-->
<!--<div th:text="${role}">${role}</div>-->


<div id="container">
    <div id="content">
        <div id="msg">메인 페이지 입니다.</div>
        <!--<div class="post-box">-->
            <!--<div class="username"><a href="">freegians</a></div>-->
            <!--<div class="time">July 26 at 4:06pm </div>-->
            <!--<div class="text">-->
                <!--first posting-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="post-box">-->
            <!--<div class="username"><a href="">freegians</a></div>-->
            <!--<div class="time">July 26 at 4:06pm </div>-->
            <!--<div class="text">-->
                <!--first posting-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="post-box">-->
            <!--<div class="username"><a href="">freegians</a></div>-->
            <!--<div class="time">July 26 at 4:06pm </div>-->
            <!--<div class="text">-->
                <!--first posting-->
            <!--</div>-->
        <!--</div>-->
        <div id="timeline-bottom"></div>
    </div>
    <div id="side"></div>
    <div style="clear:both"></div>
</div>

<script th:inline="javascript" type="text/javascript">
    "use strict";

    /*
     * IE7 이하 버전에서 "'console'이(가) 정의되지 않았습니다." 에러 처리
     */
    var console = console || {
                log:function(){},
                warn:function(){},
                error:function(){}
            };

    if(!ctx) var ctx = {};
    ctx = /*[[@{/}]]*/ './';
    ctx = ctx.substr(0, ctx.length-1);
    console.log("ctx: ", ctx);

    var _userId = [[${userId}]];
    var _userName = [[${userName}]];
</script>

<script th:src="@{js/app.js}" src="../static/js/app.js"></script>


<script th:inline="javascript" type="text/javascript">
    "use strict";

    var timeline = new TimelineClass();

    $(document).ready(function() {

        if(!_userName) {
            $('#msg').text('메인 페이지 입니다.');
        } else {
            $('#msg').text(_userName + '의 타임라인 입니다.');
        }

        timeline.showTimeline(_userId);
    });
</script>
</body>
</html>